{% extends "BuildTemplate/base.html" %}
{% load themer %}

{% block title %}{% current_topic_title %}{% endblock %}

{% block styles %}{% endblock %}

{% block body %}<body>{% endblock %}

{% block header %}{% endblock %}

{% block page_title %}{% current_topic_title %}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% home_url %}">Home</a></li>
    <li><a href="{{ request.path }}">{% current_topic_title %}</a></li>
{% endblock %}

{% block content %}
    <p class="medium current-topic-title">Pages within the {% current_topic_title %} menu:</p>
    <ul class="topic-menu">{% current_topic_menu %}</ul>
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}{% endblock %}
