{% extends "Richard/base.html" %}
{% load themer %}

{% block title %}Sitemap{% endblock %}

{% block styles %}{% endblock %}

{% block body %}<body>{% endblock %}

{% block header %}{% endblock %}

{% block page_title %}Sitemap{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% home_url %}">Home</a></li>
    <li><a href="{% special_page_url sitemap %}">Sitemap</a></li>
{% endblock %}

{% block content %}
    <nav class="sitemap medium">
        <ul>
            <li class='ps_topic_link'><a href="{% home_url %}">Home</a></li>
            {% topic_menu_full about-us %}
            {% topic_menu_full key-information %}
            {% topic_menu_full news-and-events %}
            {% topic_menu_full parents %}
            {% topic_menu_full children %}
        </ul>
    </nav>
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}{% endblock %}
