{% extends "Richard/base.html" %}
{% load themer %}

{% block title %}Fun Links for 3 - 7 Years{% endblock %}

{% block styles %}{% endblock %}

{% block body %}<body>{% endblock %}

{% block header %}{% endblock %}

{% block page_title %}Fun Links for 3 - 7 Years{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% home_url %}">Home</a></li>
    <li><a href="{% topic_url children %}">Children</a></li>
    <li><a href="{% special_page_url kidszone %}">Kids' Zone</a></li>
    <li><a href="{% special_page_url ks1-links %}">Fun Links for 3 - 7 Years</a></li>
{% endblock %}

{% block content %}
    <div class="kidszone-content">
        {% include "themes/kids_zone/kids_zone_ks1_links.html" %}
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}{% endblock %}
