{% extends "MyTheme/base.html" %}
{% load themer %}

{% block title %}Page 3{% endblock %}

{% block styles %}{% endblock %}

{% block body %}<body>{% endblock %}

{% block header %}{% endblock %}

{% block page_title %}Page 3{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% home_url %}">Home</a></li>
    <li><a href="{% topic_url section-two %}">Section Two</a></li>
    <li><a href="{% url 'diary_grid' year month_number %}">Page 3</a></li>
{% endblock %}

{% block content %}
    {% block calendar %}{% endblock %}
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}{% endblock %}
