{% extends "MyTheme/base.html" %}
{% load themer %}

{% block title %}{% diary_title %}{% endblock %}

{% block styles %}{% endblock %}

{% block body %}<body>{% endblock %}

{% block header %}{% endblock %}

{% block page_title %}Events{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% home_url %}">Home</a></li>
    <li><a href="{% topic_url whats-happening %}">Whats Happening</a></li>
    <li><a href="{% diary_url %}">Events</a></li>
    <li><a href="{{ request.path }}">{% diary_title %}</a></li>
{% endblock %}

{% block content %}
      <h2>{% diary_title %}</h2>
      <span class="diary-event-time">Start: </span>{% diary_start_datetime %}
      <span class="diary-event-time">End: </span>{% diary_end_datetime %}
      <span class="diary-body">{% diary_body %}</span>
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}{% endblock %}
