{% extends "MyTheme/base.html" %}
{% load themer %}

{% block title %}School Diary{% endblock %}

{% block styles %}{% endblock %}

{% block body %}<body>{% endblock %}

{% block header %}{% endblock %}

{% block page_title %}School Diary{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% home_url %}">Home</a></li>
    <li><a href="{% topic_url section-six %}">Section Six</a></li>
    <li><a href="{% diary_url %}">School Diary</a></li>
{% endblock %}

{% block content %}
    {% block calendar_list %}{% endblock %}
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}{% endblock %}
