{% extends "MyTheme/base.html" %}
{% load themer %}

{% block title %}Events{% endblock %}

{% block styles %}{% endblock %}

{% block body %}<body>{% endblock %}

{% block header %}{% endblock %}

{% block page_title %}Events{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% home_url %}">Home</a></li>
    <li><a href="{% topic_url whats-happening %}">Whats Happening</a></li>
    <li><a href="{% diary_url %}">Events</a></li>
{% endblock %}

{% block content %}
    {% block calendar_list %}{% endblock %}
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}{% endblock %}
