{% extends "MyTheme/base.html" %}
{% load themer %}

{% block title %}Page 4{% endblock %}

{% block styles %}{% endblock %}

{% block body %}<body>{% endblock %}

{% block header %}{% endblock %}

{% block page_title %}Page 4{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% home_url %}">Home</a></li>
    <li><a href="{% topic_url section-two %}">Section Two</a></li>
    <li><a href="{% activity_stream_url full news %}">Page 4</a></li>
{% endblock %}

{% block content %}
    <section class="news-items">
        {% news_intro_text %}
        {% activity_stream_managed newsitem %}
        {% activity_stream_managed_pagination %}
    </section>

    <aside class="date-filter small">
        <p>{% activity_search_form %}</p>
        <p>{% activity_stream_mode_changer %}</p>
        {% activity_stream_datefilter %}
    </aside>
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}{% endblock %}
