{% extends "MyTheme/base.html" %}
{% load themer %}

{% block title %}{% news_title %}{% endblock %}

{% block styles %}{% endblock %}

{% block body %}<body>{% endblock %}

{% block header %}{% endblock %}

{% block page_title %}{% news_title %}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% home_url %}">Home</a></li>
    <li><a href="{% topic_url section-two %}">Section Two</a></li>
    <li><a href="{% activity_stream_url full news %}">Page 4</a></li>
    <li><a href="{{ request.path }}">{% news_title %}</a></li>
{% endblock %}

{% block content %}
    <div class="ps_news-detail-text">{% news_text %}</div>
    <div>{% news_images %}</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}{% endblock %}
