{% extends "BuildTemplate/base.html" %}
{% load themer %}

{% block title %}Newsletters{% endblock %}

{% block styles %}{% endblock %}

{% block body %}<body>{% endblock %}

{% block header %}{% endblock %}

{% block page_title %}Newsletters{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% home_url %}">Home</a></li>
    <li><a href="{% topic_url news-and-events %}">News and Events</a></li>
    <li><a href="{% activity_stream_url full newsletters %}">Newsletters</a></li>
{% endblock %}

{% block content %}
    <section class="news-items">
        {% newsletter_intro_text %}
        {% activity_stream_managed newsletteritem %}
        {% activity_stream_managed_pagination %}
    </section>

    <aside class="date-filter small">
        <p>{% activity_search_form %}</p>
        {% activity_stream_datefilter %}
    </aside>
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}{% endblock %}
