{% extends "MyTheme/base.html" %}
{% load themer %}

{% block title %}History{% endblock %}

{% block styles %}{% endblock %}

{% block body %}<body>{% endblock %}

{% block header %}{% endblock %}

{% block page_title %}History{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% home_url %}">Home</a></li>
    <li><a href="{% topic_url children %}">Children</a></li>
    <li><a href="{% special_page_url kidszone %}">Kids' Zone</a></li>
    <li><a href="{% special_page_url history %}">History</a></li>
{% endblock %}

{% block content %}
    <div class="kidszone-content">
        {% include "themes/kids_zone/kids_zone_history.html" %}
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}{% endblock %}
