{% extends "MyTheme/base.html" %}
{% load themer %}

{% block title %}Virtual Tour{% endblock %}

{% block styles %}{% endblock %}

{% block body %}<body>{% endblock %}

{% block header %}{% endblock %}

{% block page_title %}Virtual Tour{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% home_url %}">Home</a></li>
    <li><a href="{% topic_url information %}">Information</a></li>
    <li><a href="{% special_page_url kidszone %}">Virtual Tour</a></li>
{% endblock %}

{% block content %}
    <iframe class="virtual-tour" src="{% virtual_tour_link 'ClareMountSpecialistSportsCollege' %}"></iframe>
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}{% endblock %}