{% extends "MyTheme/base.html" %}
{% load themer %}

{% block title %}Fun Links for 7 - 11 Years{% endblock %}

{% block styles %}{% endblock %}

{% block body %}<body>{% endblock %}

{% block header %}{% endblock %}

{% block page_title %}Fun Links for 7 - 11 Years{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% home_url %}">Home</a></li>
    <li><a href="{% topic_url Pupils %}">Pupils</a></li>
    <li><a href="{% special_page_url kidszone %}">Childrens' Zone</a></li>
    <li><a href="{% special_page_url ks2-links %}">Fun Links for 7 - 11 Years</a></li>
{% endblock %}

{% block content %}
    <div class="kidszone-content">
        {% include "themes/kids_zone/kids_zone_ks2_links.html" %}
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}{% endblock %}
