{% extends "MyTheme/base.html" %}
{% load themer %}

{% block title %}Page 8{% endblock %}

{% block styles %}{% endblock %}

{% block body %}<body>{% endblock %}

{% block header %}{% endblock %}

{% block page_title %}Page 8{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% home_url %}">Home</a></li>
    <li><a href="{% topic_url section-six %}">Section Six</a></li>
    <li><a href="{% special_page_url virtual-tour %}">Page 8</a></li>
{% endblock %}

{% block content %}
    <iframe class="virtual-tour" src="{% virtual_tour_link 'BuildTemplate' %}"></iframe>
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}{% endblock %}
