{% extends "MyTheme/base.html" %}
{% load themer %}

{% block title %}Website Policy{% endblock %}

{% block styles %}{% endblock %}

{% block body %}<body>{% endblock %}

{% block header %}{% endblock %}

{% block page_title %}Website Policy{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% home_url %}">Home</a></li>
    <li><a href="{% special_page_url policy %}">Policy</a></li>
{% endblock %}

{% block content %}
    {% include "themes/privacy_policy.html" %}
{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}{% endblock %}
